# Ignorar un archivo específico
export_results.py
run_condor.py
run_experiment.py
depurar.py

# Ignorar una carpeta entera
beatriz/
bsix.egg-info/
condor_output/
dist/
results/
RESULTS/
tasksConfig/

__pycache__/
