# Ignorar un archivo específico
depurar.py

# Ignorar una carpeta entera
logs/
dist/

results/
RESULTS/
prepared_results/

docs/build/

src/bsix.egg-info/
src/bsix/datasets/beatriz/
src/bsix/datasets/pre.datasets/


___/
_not_used/
__pycache__/